<%- include('header')%>
    <% if(success !='' ){ %>
        <div class="alert alert-success alert-dismissible fade show text-center " role="alert">
            <%=success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>
            <div class="add-form">
                <div class="add">
                    <div class="row">
                        <h2>Add new category</h2>
                    </div>
                    <form action="/addCategory" method="post">
                        <div class="input-box">
                            <label for="">Category Name</label>
                            <input type="text" name="categoryName" id="category" autocapitalize="off">
                        </div>
                        <% if(errors!='' ) { %>
                            <span style="color: red;margin-bottom:15px;"> *
                                <%= errors.categoryName.msg%>
                            </span>
                            <% } %>
                                <div class="input-box">
                                    <input type="submit" value="Add category" class="btn btn-primary">
                                </div>
                    </form>
                    <div class="col">
                        <a href="/category">View all category</a>
                    </div>
                </div>
            </div>
            </body>

            </html>