<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/96c97d736b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#3498db;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashbord" style="color: #f5f7f8;font-size:22px; font-weight:bolder;">Password
                management system</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashbord">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Password
                            Category</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/addCategory">Add new category</a></li>
                            <li><a class="dropdown-item" href="/category">View all category</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">password
                            Details</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/addPassword">Add new password</a></li>
                            <li><a class="dropdown-item" href="/password">View all password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand me-3" href="" style="color: #f5f7f8; font-size:20px;">
                <% if(loginUser) { %>
                    <i class="fa-solid fa-circle-user fa-lg me-1"></i>
                    <%= loginUser %>
                        <% } %>
            </a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </nav>
